/* navbar */
@media (max-width : 480px) {
    .hero_container .navbar {
        /* border: 1px solid black; */
        width: 100%;
        height: auto;
        padding: 2.875rem 0rem;
    }

    .hero_container .navbar .logo img{
        width: 11.876rem;
        height: 13.218rem;
    }

    .toggle-button {
        display: flex;
    }

    .hero_container .navbar{
        flex-direction: column;
        align-items: flex-start;
    }

    .hero_container .navbar .navbar-links{
        /* border: 1px solid black; */
        display: none;
        width: 100%;
        flex-direction: column;
        padding-top: 0rem;
        gap: 1rem;
    }

    .hero_container .navbar .navbar-links li a{
        text-align: center;
        padding: 0.1rem 1rem;
        font-size: 1rem;
    }

    .hero_container .navbar .navbar-links .numBtn_wrapper{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .hero_container .navbar .navbar-links .numBtn_wrapper .navBtn{
        width: 8.53rem;
        height: 2.25rem;
        border: 2px solid #F69F3C;
        font-size: 0.85rem;
        text-decoration: none;
    }

    .active, .dots:hover {
        background: none;
    }

    .hero_container .navbar .navbar-links.active {
        display: flex;
    }
}


/* Hero Article */
@media (max-width : 480px){
.hero_container{
    width: 100%;
    background: url(./About_Images/PNG/Res\ Hero\ Image\ about.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.currentPage{
    /* border: 1px solid black; */
    width: 30%;
}
    
.hero_article{
    /* border: 1px solid black; */
    height: auto;
    padding-top: 5rem;
}

.hero_article .hero_content h4{
    width: 100%;
    font-weight: 200;
    font-size: 36px;
    line-height: 40px;
}

.hero_article .hero_content p{
    width: 85%;
    font-size: 18px;
    line-height: 120%;
    margin-top: 25px;
}

}


/* Intro section */
@media (max-width : 480px){
    .intro_container{
        /* border: 1px solid black; */
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 3rem;
        padding: 3rem 1.25rem;
    }
    
    .intro_container .left_content{
        /* border: 1px solid black; */
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1.85rem;
    }
    
    .intro_container .left_content .intro_title{
        width: 50%;
        font-size: 19.0426px;
        line-height: 19px;
    }
    
    .intro_container .left_content .intro_heading{
        width: 90%;
        font-size: 2.625rem;
        line-height: 2.975rem;
    }
    
    .intro_container .left_content .intro_para{
        width: 100%;
        gap: 30px;
    }
    
    .intro_container .left_content .intro_para p{
        font-size: 1.0625rem;
        line-height: 122%;
    }
    
    .carousel-container {
        border-radius: 30px;
        overflow: hidden;
        max-width: 100%;
    }
}


/* first about us Section */
@media (max-width : 480px){
    .firstAboutUs_container{
        /* border: 1px solid black; */
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 3rem;
        padding: 3rem 1.25rem;
    }
    
    .firstAboutUs_container .left_content{
        /* border: 1px solid black; */
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
        
    }
    
    .firstAboutUs_container .left_content .firstAboutUs_title{
        width: 50%;
        font-size: 1.25rem;
        line-height: 1.3125rem;
        color: #523514;
    }
    
    .firstAboutUs_container .left_content .image{
        width: 100%;
        height: auto;
    }
    
    .firstAboutUs_container .left_content .image img{
        width: 100%;
        height: 100%;
    }
    
    .firstAboutUs_container .right_content{
        /* border: 1px solid black; */
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5825rem;
        
    }
    
    .firstAboutUs_container .right_content .firstAboutUs_heading{
        /* border: 1px solid black; */
        width: 100%;
        font-size: 2.625rem;
        line-height: 121%;
    }
    
    .firstAboutUs_container .right_content .firstAboutUs_para{
        /* border: 1px solid black;  */
        width: 100%;
        gap: 1.75rem;
    }
    
    .firstAboutUs_container .right_content .firstAboutUs_para p{
        font-size: 1.125rem;
        line-height: 1.4325rem;
    }
}


/* secondAboutUS Section */
@media (max-width : 480px){
    .secondAboutUs_container{
        /* border: 1px solid black; */
        width: 100%;
        height: auto;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column-reverse;
        gap: 2rem;
        padding: 1.25rem 1.25rem;
    }
    
    .secondAboutUs_container .left_content{
        width: 100%;
        gap: 20px;
    }
    
    .secondAboutUs_container .left_content .secondAboutUs_title{
        width: 100%;
        font-size: 1.25rem;
        line-height: 1.225rem;
    }
    
    .secondAboutUs_container .left_content .secondAboutUs_heading{
        width: 100%;
        font-size: 2.25rem;
        line-height: 2.375rem;
    }
    
    .secondAboutUs_container .left_content .secondAboutUs_para{
        width: 100%;
        gap: 20px;
    }
    
    .secondAboutUs_container .left_content .secondAboutUs_para{
        font-size: 18px;
        line-height: 20px;
    }
    
    .secondAboutUs_container .right_content{
        /* border: 1px solid black; */
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 20px;
    }
    
    .secondAboutUs_container .right_content .card{
        /* border: 1px solid black; */
        width: 50%;
        height: 100%;
        border-radius: 4.73528px
    }
}

/* Contact section */
@media (max-width: 480px){
    .contact_container{
        /* border: 1px solid black; */
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 2rem 0rem;
    }
    
    .contact_container .contact_article{
        /* border: 1px solid black; */
        width: 100%;
        height: 50vh;
    }
    
    .contact_container .contact_article .article_wrapper{
        /* border: 1px solid black; */
        width: 85%;
        height: 100%;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    
    .contact_container .contact_article .article_wrapper .contact_heading{
        width: 100%;
        font-size: 2.25rem;
        line-height: 2.875rem;
        letter-spacing: 2px;
    }
    
    .contact_container .contact_article .article_wrapper .contact_para{
        width: 100%;
        font-size: 1.125rem;
        line-height: 1.75rem;
        letter-spacing: 0.03em;
    }

    .contact_container .contact_form{
        /* border: 1px solid black; */
        width: 100%;
        height: 100%;
        padding: 20px;
        gap: 10px;
    }
    
    .contact_container .contact_form .details{
        /* border: 1px solid black;  */
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 50px;
        padding: 0px 0px 0px 0px;
    }
    
    .contact_container .contact_form .details .input_details{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    
    .contact_container .contact_form .details .input_details label{
        width: 100%;
        font-size: 18px;
        letter-spacing: 0.08em;
    }
    
    .contact_container .contact_form .details .input_details label span{
        font-size: 23px;
    }
    
    .contact_container .contact_form .details textarea{
        width: 100% !important;
        font-size: 18px;
    }
    
    .contact_container .contact_form .contact_btn{
        width: 35%;
        height: 3rem;
    }
    
    .contact_container .contact_form .contact_btn input{
        width: 100%;
        height: 100%;
        background: transparent;
        font-size: 18px;
    }
}


/* footer section */
@media (max-width: 480px){
    footer{
        /* border: 1px solid black;  */
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 8px;
        padding: 1rem;
    }
    
    footer .copyright{
        /* border: 1px solid black;  */
        width: 100%;
        font-size: 20px;
        text-align: center;
        transform: translateY(115px);
    }
    
    footer .footer_logo{
        /* border: 1px solid black;  */
        transform: translateY(-30px);
    }

    footer .footer_logo img{
        width: 6.743rem;
        height: 7.476rem;
    }
    
    footer .privacy{
        /* border: 1px solid black; */
        width: 100%;
        font-size: 18px;
        text-align: center;
        transform: translateY(-10px);
    }
}