/* navbar */
@media (max-width : 480px) {
    .hero_container .navbar {
        /* border: 1px solid black; */
        width: 100%;
        height: auto;
        padding: 2.875rem 0rem;
    }

    .hero_container .navbar .logo img{
        width: 11.876rem;
        height: 13.218rem;
    }

    .toggle-button {
        display: flex;
    }

    .hero_container .navbar{
        flex-direction: column;
        align-items: flex-start;
    }

    .hero_container .navbar .navbar-links{
        /* border: 1px solid black; */
        display: none;
        width: 100%;
        flex-direction: column;
        padding-top: 0rem;
        gap: 1rem;
    }

    .hero_container .navbar .navbar-links li a{
        text-align: center;
        padding: 0.1rem 1rem;
        font-size: 1rem;
    }

    .hero_container .navbar .navbar-links .numBtn_wrapper{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .hero_container .navbar .navbar-links .numBtn_wrapper .navBtn{
        width: 8.53rem;
        height: 2.25rem;
        border: 2px solid #F69F3C;
        font-size: 0.85rem;
        text-decoration: none;
    }

    .active, .dots:hover {
        background: none;
    }

    .hero_container .navbar .navbar-links.active {
        display: flex;
    }
}


/* Hero Section */
@media (max-width : 480px) {
    .hero_container{
        width: 100%;
        height: auto;
        background: #F5F5F5;
        display: flex;
    }

    /* Hero Section Content */
    .content_wrapper{
        /* border: 1px solid black; */
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 15px;
        justify-content: center;
        align-items: center;
        padding: 2rem 1.25rem;
    }

    .content_wrapper .left_content{
        /* border: 1px solid black; */
        width: 100%;
        height: 100%;
        display: flex;
        gap: 1rem;
        flex-direction: column;
        flex-wrap: wrap;
        
    }

    .content_wrapper .left_content .heading h3{
        font-weight: 500;
        font-size: 2.188rem;
        line-height: 3rem;
    }

    .content_wrapper .left_content .para{
        /* border: 1px solid black; */
        width: 98%;
        gap: 20px;
    }

    .content_wrapper .left_content .para p{
        font-family: 'Josefin Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 1.25rem;
        line-height: 1.375rem;
        color: #000000;
    }

    .content_wrapper .left_content .address_details{
        /* border: 1px solid black; */
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1.75rem;
    }

    .content_wrapper .left_content .address_details .details_wrapper{
        /* border: 1px solid black; */
        width: 100%;
        display: flex;
        gap: 20px;
    }

    .content_wrapper .left_content .address_details .details_wrapper .details h6{
        font-size: 1.25rem;
        margin-bottom: 5px;
    }

    .content_wrapper .left_content .address_details .details_wrapper .details p{
        font-size: 0.975;
    }


    /* Hero Section form */
    .content_wrapper .contact_form{
        /* border: 1px solid black;   */
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        
    }

    .content_wrapper .contact_form .details{
        /* border: 1px solid black;   */
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 40px;
        padding: 2rem 0rem;
    }

    .content_wrapper .contact_form .details .input_details{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }


    .content_wrapper .contact_form .details .input_details input{
        border: none;
        border-bottom: 2px solid #272727;
        outline: none;
        background: transparent;
    }

    .content_wrapper .contact_form .details textarea{
        width: 100% !important;
        height: 120px;
        resize: none;
        outline: none;
        border: 2px solid #272727;
        background: transparent;
        padding: 10px;
        font-size: 15px;
    }

    .content_wrapper .contact_form .contact_btn{
        width: 35%;
        height: 2.75rem;
        border: 3px solid #F69F3C;
    }

    .content_wrapper .contact_form .contact_btn input{
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
        cursor: pointer;
        font-size: 14px;
    }
}


/* Visit our place Section */
@media (max-width : 480px) {
    .visitingTiming_container{
        /* border: 1px solid black; */
        width: 100%;
        height: auto;
        background: #FDECD8;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 3rem 1.25rem;
    
    }
    
    .visitingTiming_container .visiting_content{
        /* border: 1px solid black; */
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    
    .visitingTiming_container .visiting_content .left_content{
        /* border: 1px solid black; */
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 25px;
    }
    
    .visitingTiming_container .visiting_content .left_content .heading h2{
        font-size: 1.75rem;
        line-height: 3rem; 
    }
    
    .visitingTiming_container .visiting_content .left_content .para p{
        font-size: 1rem;
        line-height: 1.35rem;
    }
    
    .visitingTiming_container .visiting_content .left_content .visiting_btn{
        border: 3px solid #319ED8;
        width: 30%;
        height: 45px;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        margin-top: 10px;
        transition: all 0.5s;
    }
    
    .visitingTiming_container .visiting_content .left_content .visiting_btn a{
        font-size: 12px;
        line-height: 12px;
    }
    
    .visitingTiming_container .visiting_content .right_content{
        /* border: 1px solid black; */
        width: 100%;
        height: 19.55em;
        display: flex;
        justify-content: center;
    }
    
    .visitingTiming_container .visiting_content .right_content .card{
        /* border: 1px solid black; */
        width: 100%;
        height: 100%;
        background: #FFFFFF;
        border-radius: 10px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        padding: 30px 0px;
    }
    
    .visitingTiming_container .visiting_content .right_content .card .contents{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3px !important;
    }
    
    .visitingTiming_container .visiting_content .right_content .card .hrs_details {
        gap: 10px;
    }
    
    .visitingTiming_container .visiting_content .right_content .card .contents h3{
        font-size: 20px;
        line-height: 22px;
        text-align: center;    
    }
    
    .visitingTiming_container .visiting_content .right_content .card .contents p{
        font-size: 1rem;
        line-height: 1.35rem;
        text-align: center;
    }
    
    .visitingTiming_container .visiting_content .right_content .card .contents .add {
        font-family: 'Taviraj';
        font-weight: 500;
        font-size: 18px;
        line-height: 130%;
        text-align: center;
        color: #000000;
        width: 85%;
    }
}


/* FQA Section  */
@media (max-width : 480px) {
    .FQA_Section{
        /* border: 1px solid black; */
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        padding: 3rem 1.25rem;
    }
    
    .FQA_Section .fqaContent_wrapper{
        /* border: 1px solid black; */
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    
    .FQA_Section .fqaContent_wrapper .left_content{
        /* border: 1px solid black; */
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    
    .FQA_Section .fqaContent_wrapper .left_content .heading {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    
    
    .FQA_Section .fqaContent_wrapper .left_content .heading h1 {
        width: 90%;
        font-family: 'Taviraj';
        font-weight: 500;
        font-size: 2.35rem;
        line-height: 3rem;
        color: #000000;
    }

    .FQA_Section .fqaContent_wrapper .left_content .container {
        display: flex;
        flex-direction: column;
        padding: 0rem 0rem;
    }
    
    .faq-drawer {
        width: 100%;
        margin-bottom: 30px; 
    }
       
    .faq-drawer__content-wrapper {
        font-size: 1.25em;
        line-height: 1.4em;
        max-height: 0px;
        overflow: hidden;
        transition: 0.25s ease-in-out;
    }
       
    .faq-drawer__title {
        display: block;
        font-size: 1.25rem;
        line-height: 110%;
        padding: 30px 0 0 0;
    }
    
    .faq-drawer__content p{
        font-size: 1rem;
        line-height: 138%;
        padding-top: 1rem;
    }
    
    /* form section */
    .FQA_Section .fqaContact_form{
        /* border: 1px solid black; */
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 30px; 
        padding: 1rem 0rem;
    }

    .FQA_Section .fqaContact_form .question_heading {
        display: flex;
        align-self: flex-start;
        padding: 0rem 0rem;
        padding-right: 3rem;
    }
    
    .FQA_Section .fqaContact_form .question_heading h3{
        /* border: 1px solid black; */
        width: 80%;
        font-family: 'Taviraj';
        font-style: normal;
        font-weight: 500;
        font-size: 1.75rem;
        line-height: 2rem;
        color: #000000; 
        text-align: center;
        padding-right: 2rem;
    }
    
    .FQA_Section .fqaContact_form .details{
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 40px;
        transform: translateX(0%);
    }
    
    .FQA_Section .fqaContact_form .submit_btn{
        margin-left: 0px;
    }
    
    .FQA_Section .fqaContact_form .details .input_details{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    
    .FQA_Section .fqaContact_form .details .input_details label{
        width: 100%;
        font-size: 14px;
        line-height: 14px;
        letter-spacing: 0.05em;
    }
    
    .FQA_Section .fqaContact_form .details .input_details label span{
        font-size: 18px;
        margin-left: 0px;
        font-weight: 500;
    }
    
    .FQA_Section .fqaContact_form .details .input_details input{
        border: none;
        border-bottom: 2px solid #272727;
        outline: none;
        background: transparent;
    }
    
    .FQA_Section .fqaContact_form .details textarea{
        width: 100% !important;
        resize: none;
        outline: none;
        border: 2px solid #272727;
        padding: 10px;
        font-size: 15px;
    }
    
    .FQA_Section .fqaContact_form .submit_btn{
        width: 30%;
        height: 3rem;
        cursor: pointer;
        transition: all 0.4s linear;
    }
    
    .FQA_Section .fqaContact_form .submit_btn input{
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
        font-size: 14px;
        line-height: 14px;
    }
}




/* footer section */
/* footer section */
@media (max-width: 480px){
    footer{
        /* border: 1px solid black;  */
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 8px;
        padding: 1rem;
    }
    
    footer .copyright{
        /* border: 1px solid black;  */
        width: 100%;
        font-size: 20px;
        text-align: center;
        transform: translateY(115px);
    }
    
    footer .footer_logo{
        /* border: 1px solid black;  */
        transform: translateY(-30px);
    }

    footer .footer_logo img{
        width: 6.743rem;
        height: 7.476rem;
    }
    
    footer .privacy{
        /* border: 1px solid black; */
        width: 100%;
        font-size: 18px;
        text-align: center;
        transform: translateY(-10px);
    }
}