/* navbar */
@media (max-width : 480px) {
    .hero_container .navbar {
        /* border: 1px solid black; */
        width: 100%;
        height: auto;
        padding: 1rem 0rem;
    }

    .hero_container .navbar .logo img{
        width: 11.876rem;
        height: 13.218rem;
    }

    .toggle-button {
        display: flex;
    }

    .hero_container .navbar{
        flex-direction: column;
        align-items: flex-start;
    }

    .hero_container .navbar .navbar-links{
        /* border: 1px solid black; */
        display: none;
        width: 100%;
        flex-direction: column;
        padding-top: 0rem;
        gap: 1rem;
    }

    .hero_container .navbar .navbar-links li a{
        text-align: center;
        padding: 0.1rem 1rem;
        font-size: 1rem;
    }

    .hero_container .navbar .navbar-links .numBtn_wrapper{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .hero_container .navbar .navbar-links .numBtn_wrapper .navBtn{
        width: 8.53rem;
        height: 2.25rem;
        border: 2px solid #F69F3C;
        font-size: 0.85rem;
        text-decoration: none;
    }

    .active, .dots:hover {
        background: none;
    }

    .hero_container .navbar .navbar-links.active {
        display: flex;
    }
}

/* Hero Section */
@media (max-width : 480px) {
.hero_container{
    width: 100%;
    height: 100vh;
    background: url(./Service_Image/PNG/Res\ Hero\ Image\ service.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2rem 1.25rem;
}
    
.hero_article{
    height: auto;
    padding-top: 6rem ;
}

.hero_article .hero_content h3{
    width: 100%;
    font-weight: 300;
    font-size: 32px;
    line-height: 38px;
}

.hero_article .hero_content p{
    width: 90%;
    font-weight: 400;
    font-size: 18px;
    line-height: 120.5%;
    margin-top: 20px;
}
}

/* What we can do section */
@media (max-width : 480px) {
    .ourService_container{
        /* border: 1px solid black; */
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 3rem 1.25rem;
    }
    
    .ourService_container .left_content{
        /* border: 1px solid black;  */
        width: 100%;
        display: flex;
        align-items: center;
    }
    
    .ourService_container .left_content img{
        /* border: 1px solid black; */
        width: 100%;
        height: 100%;
        border-radius: 7.9766px;
    }
    
    .ourService_container .right_container{
        /* border: 1px solid black; */
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 30px;
        padding: 0rem 0rem;
    }
    
    .ourService_container .right_container .service_title{
        width: 40%;
        font-family: 'Josefin Sans';
        font-weight: 600;
        font-size: 22px;
        line-height: 19px;
        color: #F69F3C;
    }
    
    .ourService_container .right_container .service_heading h3{
        width: 100%;
        font-family: 'Taviraj';
        font-weight: 500;
        font-size: 40px;
        line-height: 45px;
        color: #000000;
    }
    
    .ourService_container .right_container .servicePara{
        /* border: 1px solid black; */
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    
    .ourService_container .right_container .servicePara p{
        font-family: 'Josefin Sans';
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #000000;
    }
}

/* Services Section */
@media (max-width : 480px) {
    .serviceConfidence_container {
        /* border: 1px solid black; */
        width: 100%;
        height: auto;
        display: flex;
        gap: 2rem;
        background: #FDECD8;
        padding: 2.75rem 1.25rem;
    }
    
    .serviceConfidence_container .left_card {
        /* border: 1px solid black; */
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    
    .serviceConfidence_container .left_card .articles {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    
    .serviceConfidence_container .left_card .articles .title h6{
        font-size: 1.19rem;
        line-height: 1.88rem;
    }
    
    .serviceConfidence_container .left_card .articles .heading h1 {
        font-size: 2rem;
        line-height: 121%;
        width: 90%;
    }
    
    .serviceConfidence_container .left_card .articles .para p {
        font-weight: 400;
        font-size: 1rem;
        width: 90%;
    }

    /* cards */
    .serviceConfidence_container .left_card .card_container {
        /* border: 1px solid black; */
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    
    .serviceConfidence_container .left_card .card_container .card {
        /* border: 1px solid black; */
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 1rem;
        background: #fff;
        padding: 0.75rem 1rem;
    }
    
    .serviceConfidence_container .left_card .card_container .card h1 {
        font-family: 'Taviraj';
        font-weight: 600;
        font-size: 1.25rem;
        line-height: 1.75rem;
        text-align: center;
        color: #000000;
    }
    
    .serviceConfidence_container .left_card .card_container .card ul {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
        padding: 1rem;
    }
    .serviceConfidence_container .left_card .card_container .card ul li {
        list-style: disc;
        padding-left: 0.75rem;
        font-family: 'Josefin Sans';
        font-weight: 400;
        font-size: 1rem;
        line-height: 100%;
        color: #000000;
    }
}

/* Contact section */
@media (max-width: 480px){
    .contact_container{
        /* border: 1px solid black; */
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    
    .contact_container .contact_article{
        /* border: 1px solid black; */
        width: 100%;
        height: 50vh;
    }
    
    .contact_container .contact_article .article_wrapper{
        /* border: 1px solid black; */
        width: 85%;
        height: 100%;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    
    .contact_container .contact_article .article_wrapper .contact_heading{
        width: 100%;
        font-size: 2.25rem;
        line-height: 2.875rem;
        letter-spacing: 2px;
    }
    
    .contact_container .contact_article .article_wrapper .contact_para{
        width: 100%;
        font-size: 1.125rem;
        line-height: 1.75rem;
        letter-spacing: 0.03em;
    }

    .contact_container .contact_form{
        /* border: 1px solid black; */
        width: 100%;
        height: 100%;
        padding: 20px;
        gap: 10px;
    }
    
    .contact_container .contact_form .details{
        /* border: 1px solid black;  */
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 50px;
        padding: 0px 0px 0px 0px;
    }
    
    .contact_container .contact_form .details .input_details{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    
    .contact_container .contact_form .details .input_details label{
        width: 100%;
        font-size: 18px;
        letter-spacing: 0.08em;
    }
    
    .contact_container .contact_form .details .input_details label span{
        font-size: 23px;
    }
    
    .contact_container .contact_form .details textarea{
        width: 100% !important;
        font-size: 18px;
    }
    
    .contact_container .contact_form .contact_btn{
        width: 35%;
        height: 3rem;
    }
    
    .contact_container .contact_form .contact_btn input{
        width: 100%;
        height: 100%;
        background: transparent;
        font-size: 18px;
    }
}


/* footer */
@media (max-width: 480px){
    footer{
        /* border: 1px solid black;  */
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 8px;
        padding: 1rem;
    }
    
    footer .copyright{
        /* border: 1px solid black;  */
        width: 100%;
        font-size: 20px;
        text-align: center;
        transform: translateY(115px);
    }
    
    footer .footer_logo{
        /* border: 1px solid black;  */
        transform: translateY(-30px);
    }

    footer .footer_logo img{
        width: 6.743rem;
        height: 7.476rem;
    }
    
    footer .privacy{
        /* border: 1px solid black; */
        width: 100%;
        font-size: 18px;
        text-align: center;
        transform: translateY(-10px);
    }
}