/* navbar */
@media (max-width : 480px) {
    .hero_container .navbar {
        /* border: 1px solid black; */
        width: 100%;
        height: auto;
        padding: 2.875rem 0rem;
    }

    .hero_container .navbar .logo img{
        width: 11.876rem;
        height: 13.218rem;
    }

    .toggle-button {
        display: flex;
    }

    .hero_container .navbar{
        flex-direction: column;
        align-items: flex-start;
    }

    .hero_container .navbar .navbar-links{
        /* border: 1px solid black; */
        display: none;
        width: 100%;
        flex-direction: column;
        padding-top: 0rem;
        gap: 1rem;
    }

    .hero_container .navbar .navbar-links li a{
        text-align: center;
        padding: 0.1rem 1rem;
        font-size: 1rem;
    }

    .hero_container .navbar .navbar-links .numBtn_wrapper{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .hero_container .navbar .navbar-links .numBtn_wrapper .navBtn{
        width: 8.53rem;
        height: 2.25rem;
        border: 2px solid #F69F3C;
        font-size: 0.85rem;
        text-decoration: none;
    }

    .active, .dots:hover {
        background: none;
    }

    .hero_container .navbar .navbar-links.active {
        display: flex;
    }
}


/* hero article */
@media (max-width: 480px){
    .hero_container{
        width: 100%;
        background: url(./Images/Webp/Res-Hero-Image.webp);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .hero_article{
        /* border: 1px solid black; */
        height: auto;
        display: flex;
        margin-bottom: 30px;
    }
    
    .hero_article .hero_content h1{
        /* border: 1px solid black; */
        width: 80%;
        flex-wrap: wrap;
        font-size: 36px;
        line-height: 45px;
        letter-spacing: 2px;
        margin-bottom: 20px;
    }
    
    .hero_article .hero_content p{
        /* border: 1px solid black; */
        width: 80%;
        font-weight: 400;
        font-size: 18px;
        line-height: 125.5%;
        margin-top: 10px;
    }
    
    .hero_article .hero_content .content_btn{
        width: 150px;
        height: 45px;
        font-size: 14px;
        margin-top: 30px;
    }
}


/* card section */
@media (max-width: 480px) {
    .card_container{
        /* border: 1px solid black; */
        width: 100%;
        height: auto;
        background: #fefdfd; 
        padding: 3rem 1.25rem;
    }
    
    .card_container .card_wrapper{
        /* border: 1px solid black;  */
        width: 100%;
        height: auto;
        display: flex;
        justify-content: baseline;
        flex-wrap: wrap;
        padding: 0rem 0rem;
        gap: 20px;
    }
    
    .card_container .card_wrapper .card{
        /* border: 1px solid black; */
        width: 100%;
        height: 16.751em;  
        background: #FDECD8;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.55rem;
        cursor: pointer;
    }
}


/* service section */
@media (max-width: 480px) {
    .service_container{
        /* border: 1px solid black; */
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        padding: 2rem 1.25rem;
    }
    
    .service_container .content_wrapper{
        /* border: 1px solid black; */
        width: 100%;
        height: 100%;
        flex-wrap: wrap;
        gap: 30px;
    }
    
    .service_container .content_wrapper .title{
        width: 80%;
        font-family: 'Josefin Sans';
        font-weight: 600;
        font-size: 22px;
    }
    
    .service_container .content_wrapper .heading{
        font-family: 'Taviraj';
        font-weight: 500;
        font-size: 2.25rem;
        line-height: 119% ;
        color: #000000;
    }
    
    .service_container .content_wrapper .service_article{
        width: 95%;   
        gap: 30px;
    }
    
    .service_container .content_wrapper .service_article p{
        font-family: 'Josefin Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 1.125rem;
        line-height: 22px;
        color: #000000;
    }
    
    .service_container .content_wrapper .service_btn{
        width: 190px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    
    .service_container .content_wrapper .service_btn a{
        font-size: 16px;
        line-height: 16px;
    }
    
    .service_container .image_wrapper {
        /* border: 1px solid black; */
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1.50rem;
    }
    
    .service_container .image_wrapper .images {
        /* border: 2px solid black; */
        width: 100%;
        display: flex;
        
        justify-content: flex-start;
        gap: 1.8rem;
    }
    
    .service_container .image_wrapper .images img {
        width: 45%;
    }
}


/* highlighted section */
@media (max-width: 480px){
    .highlighted_container{
        /* border: 1px solid black; */
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #FDECD8;
        padding: 50px 1.25rem;
    }
    
    .highlighted_container .highlighted_wrapper{
        /* border: 1px solid black; */
        display: flex;
        flex-direction: column;
        justify-content: baseline;
        gap: 2rem;
    }
    
    .highlighted_container .highlighted_wrapper .image_wrapper{
        width: 100%;
        border-radius: 10px;
    }
    
    
    .highlighted_container .highlighted_wrapper .highlighted_article{
        /* border: 1px solid black;  */
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        flex-wrap: wrap;
    }
    
    .highlighted_container .highlighted_wrapper .highlighted_article h3{
        width: 100%;
        font-weight: 500;
        font-size: 2.5rem;
        line-height: 50px;
    }
    
    .highlighted_container .highlighted_wrapper .highlighted_article p{
        /* border: 1px solid black; */
        width: 100%;
        font-family: 'Josefin Sans';
        font-weight: 400;
        font-size: 1.125rem;
        line-height: 127.5%;
        color: #000000;
    }
}


/* aboutUs section */
@media (max-width: 480px){
    .aboutUs_container{
        /* border: 1px solid black; */
        width: 100%;
        height: auto;
        padding: 3rem 1.25rem;
    }
    
    .aboutUs_container .aboutUS_wrapper{
        /* border: 1px solid black; */
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    
    .aboutUs_container .aboutUS_wrapper .about_title{
        font-family: 'Josefin Sans';
        font-weight: 600;
        font-size: 1.1857rem;
        line-height: 1.25rem;
    }
    
    .aboutUs_container .aboutUS_wrapper .about_heading{
        width: 80%;
        font-family: 'Taviraj';
        font-weight: 500;
        font-size: 2.25rem;
        line-height:2.375rem;
        text-align: center;
        color: #000000;
    }
    
    .aboutUs_container .aboutUS_wrapper .about_para{
        /* border: 1px solid black; */
        width: 80%;
        font-size: 0.9375rem;
        line-height: 22px;
        text-align: center;
    }
    
    .carousel-container {
        max-width: 800px;
        z-index: 0;
      }
      
}      


/* Contact section */
@media (max-width: 480px){
    .contact_container{
        /* border: 1px solid black; */
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 2rem 0rem;
    }
    
    .contact_container .contact_article{
        /* border: 1px solid black; */
        width: 100%;
        height: 50vh;
    }
    
    .contact_container .contact_article .article_wrapper{
        /* border: 1px solid black; */
        width: 85%;
        height: 100%;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    
    .contact_container .contact_article .article_wrapper .contact_heading{
        width: 100%;
        font-size: 2.25rem;
        line-height: 2.875rem;
        letter-spacing: 2px;
    }
    
    .contact_container .contact_article .article_wrapper .contact_para{
        width: 100%;
        font-size: 1.125rem;
        line-height: 1.75rem;
        letter-spacing: 0.03em;
    }

    .contact_container .contact_form{
        /* border: 1px solid black; */
        width: 100%;
        height: 100%;
        padding: 20px;
        gap: 10px;
    }
    
    .contact_container .contact_form .details{
        /* border: 1px solid black;  */
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 50px;
        padding: 0px 0px 0px 0px;
    }
    
    .contact_container .contact_form .details .input_details{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    
    .contact_container .contact_form .details .input_details label{
        width: 100%;
        font-size: 18px;
        letter-spacing: 0.08em;
    }
    
    .contact_container .contact_form .details .input_details label span{
        font-size: 23px;
    }
    
    .contact_container .contact_form .details textarea{
        width: 100% !important;
        font-size: 18px;
    }
    
    .contact_container .contact_form .contact_btn{
        width: 35%;
        height: 3rem;
    }
    
    .contact_container .contact_form .contact_btn input{
        width: 100%;
        height: 100%;
        background: transparent;
        font-size: 18px;
    }
}


/* footer section */
@media (max-width: 480px){
    footer{
        /* border: 1px solid black;  */
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 8px;
        padding: 1rem;
    }
    
    footer .copyright{
        /* border: 1px solid black;  */
        width: 100%;
        font-size: 20px;
        text-align: center;
        transform: translateY(115px);
    }
    
    footer .footer_logo{
        /* border: 1px solid black;  */
        transform: translateY(-30px);
    }

    footer .footer_logo img{
        width: 6.743rem;
        height: 7.476rem;
    }
    
    footer .privacy{
        /* border: 1px solid black; */
        width: 100%;
        font-size: 18px;
        text-align: center;
        transform: translateY(-10px);
    }
}