*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/* Hero Section */
.hero_container{
    width: 100%;
    height: 100vh;
    background: url(./Service_Image/WEBP/Hero-Image.webp);
    background-repeat: no-repeat;
    background-size: cover;
}


/* Navbar */
.hero_container .navbar {
    /* border: 1px solid black; */
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8rem 6rem;
}

.hero_container .navbar .logo img{
    /* border: 1px solid black; */
    width: 14.833rem;
    height: 13.509rem;
}

.hero_container .navbar .navbar-links{
    /* border: 1px solid black; */
    width: 80%;
    display: flex;
    justify-content: baseline;
    align-items: center;
    gap: 2.756rem;
}

.hero_container .navbar .navbar-links li a{
    font-family: 'Josefin Sans';
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.125rem;
    color: #F5F5F5;
}

.hero_container .navbar .navbar-links li a:hover {
    color: #F69F3C;
}

.hero_container .navbar .navbar-links .numBtn_wrapper {
    /* border: 1px solid black; */
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 4rem;
}

/* navbar-btn */
.hero_container .navbar .navbar-links .numBtn_wrapper p{
    font-family: 'Josefin Sans';
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.125rem;
    text-decoration-line: underline;
    color: #F5F5F5;
}

.hero_container .navbar .navbar-links .numBtn_wrapper .navBtn{
    border: 2px solid #F69F3C;
    border-radius: 5px;
    width: 30%;
    height: 2.8125rem;
    font-family: 'Josefin Sans';
    font-style: normal;
    text-align: center;
    font-weight: 500;
    font-size: 13px;
    line-height: 14px;
    color: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s linear;
}

.hero_container .navbar .navbar-links .navBtn:hover {
    border: none;
    color: #000000;
    background: #F69F3C;
}

/* Toggle-button */
.toggle-button{
    position: absolute;
    right: 1rem;
    top: 5rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 2rem;
    height: 1rem;
    margin: 40px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

.currentPage{
    /*border: 1px solid black; */
    width: 30%;
    transform: translateX(30%);
}

.currentPage p{
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #F5F5F5;
}

.currentPage .about_color{
    color: #F69F3C;
}


.hero_article{
    /* border: 1px solid black;  */
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero_article .hero_content{
    /* border: 1px solid black; */
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero_article .hero_content h3{
    width: 65%;
    font-family: 'Taviraj';
    font-style: normal;
    font-weight: 300;
    font-size: 62px;
    line-height: 70px;
    text-align: center;
    color: #F5F5F5;
}

.hero_article .hero_content p{
    /* border: 1px solid black; */
    width: 65%;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    margin-top: 30px;
    text-align: center;
    color: #F5F5F5;
}



/* What we can do section */
.ourService_container{
    /* border: 1px solid black; */
    width: 100%;
    height: auto;
    display: flex;
    gap: 15px;
    padding: 5.625rem 7.5rem;
}

.ourService_container .left_content{
    /* border: 1px solid black;  */
    width: 50%;
    display: flex;
    align-items: center;
}

.ourService_container .left_content img{
    /* border: 1px solid black; */
    width: 100%;
    height: 100%;
    border-radius: 7.9766px;
}

.ourService_container .right_container{
    /* border: 1px solid black; */
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    padding: 30px 0px 0px 90px;
}

.ourService_container .right_container .service_title{
    width: 30%;
    font-family: 'Josefin Sans';
    font-weight: 600;
    font-size: 19.0426px;
    line-height: 19px;
    color: #F69F3C;
}

.ourService_container .right_container .service_heading h3{
    width: 100%;
    font-family: 'Taviraj';
    font-weight: 500;
    font-size: 48px;
    line-height: 58px;
    color: #000000;
}

.ourService_container .right_container .servicePara{
    /* border: 1px solid black; */
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.ourService_container .right_container .servicePara p{
    font-family: 'Josefin Sans';
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}



/* Services Section  */
.serviceConfidence_container {
    /* border: 1px solid black; */
    width: 100%;
    height: auto;
    display: flex;
    gap: 2rem;
    background: #FDECD8;
    padding: 5rem 6rem;
}

.serviceConfidence_container .left_card {
    /* border: 1px solid black; */
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.serviceConfidence_container .left_card .articles {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.serviceConfidence_container .left_card .articles .title h6{
    font-family: 'Josefin Sans';
    font-weight: 600;
    font-size: 1.19rem;
    line-height: 1.88rem;
    color: #440704;
}

.serviceConfidence_container .left_card .articles .heading h1 {
    font-family: 'Taviraj';
    font-weight: 500;
    font-size: 3rem;
    line-height: 121%;
    color: #000000;
    width: 90%;
}

.serviceConfidence_container .left_card .articles .para p {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 122%;
    color: #000000;
    width: 90%;
}

/* New card carouel */
.serviceConfidence_container .left_card .card_container {
    /* border: 1px solid black; */
    width: 100%;
    height: auto;
    display: flex;
    gap: 1rem;
}

.serviceConfidence_container .left_card .card_container .card {
    /* border: 1px solid black; */
    width: 24.596em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
    background: #fff;
    padding: 0.75rem 1rem;
    transition: all .5s linear;
    cursor: pointer;
}

.serviceConfidence_container .left_card .card_container .card:hover {
    transform: scale(1.08);
}

.serviceConfidence_container .left_card .card_container .card h1 {
    font-family: 'Taviraj';
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.75rem;
    text-align: center;
    color: #000000;
}

.serviceConfidence_container .left_card .card_container .card ul {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    padding: 1rem;
}
.serviceConfidence_container .left_card .card_container .card ul li {
    list-style: disc;
    padding-left: 0.75rem;
    font-family: 'Josefin Sans';
    font-weight: 400;
    font-size: 1rem;
    line-height: 100%;
    color: #000000;
}


/* Contact section */
.contact_container{
    /* border: 1px solid black; */
    width: 100%;
    height: 100vh;
    display: flex;
    gap: 15px;
}

.contact_container .contact_article{
    /* border: 1px solid black; */
    width: 49%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #523514;
}

.contact_container .contact_article .article_wrapper{
    /* border: 1px solid black; */
    width: 65%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact_container .contact_article .article_wrapper .contact_heading{
    /* border: 1px solid black; */
    width: 80%;
    font-family: 'Taviraj';
    font-style: normal;
    font-weight: 400;
    font-size: 46px;
    line-height: 56px;
    color: #FFFFFF;
}

.contact_container .contact_article .article_wrapper .contact_para{
    /* border: 1px solid black; */
    width: 100%;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
}

.contact_container .contact_form{
    /* border: 1px solid black;  */
    width: 50%;
    height: 100%;
    padding: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.contact_container .contact_form .details{
    /* border: 1px solid black;  */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 80px;
    padding: 0px 50px 0px 0px;
}

.contact_container .contact_form .details .input_details{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.contact_container .contact_form .details .input_details label{
    /* border: 1px solid black;  */
    width: 100%;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.05em;
    color: #272727;
}

.contact_container .contact_form .details .input_details label span{
    font-size: 18px;
    margin-left: 3px;
    font-weight: 500;
}

.contact_container .contact_form .details .input_details input{
    border: none;
    border-bottom: 2px solid #272727;
    outline: none;
}

.contact_container .contact_form .details textarea{
    width: 250% !important;
    resize: none;
    outline: none;
    border: 2px solid #272727;
    padding: 10px;
    font-size: 15px;
}

.contact_container .contact_form .contact_btn{
    width: 30%;
    height: 10%;
    border: 3px solid #F69F3C;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.4s linear;
}

.contact_container .contact_form .contact_btn:hover{
    background: #F69F3C;
    border: none;
    transform: scale(0.9);
}

.contact_container .contact_form .contact_btn input{
    border: none;
    outline: none;
    cursor: pointer;
    background: none;
    text-transform: uppercase;
    font-family: 'Josefin Sans';
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    color: #272727;
}


/* footer section */
footer{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background: #FDECD8;
    padding: 1rem 6rem;
}

footer .copyright{
    /* border: 1px solid black; */
    width: 15%;
    font-family: 'Taviraj';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    text-decoration-line: underline;
    color: #000000;
}

footer .footer_logo{
    /* border: 1px solid black; */
    width: 6.743rem;
    height: 7.476rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .privacy{
    /* border: 1px solid black; */
    width: 15%;
    font-family: 'Taviraj';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    text-decoration-line: underline;
    color: #000000;
}