*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/* Hero Section */
.hero_container{
    width: 100%;
    height: 100vh;
    background: #F5F5F5;
    display: flex;
    flex-direction: column;
}

/* Navbar */
.hero_container .navbar {
    /* border: 1px solid black; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 5rem;
}

.hero_container .navbar .logo img{
    /* border: 1px solid black; */
    width: 14.833rem;
    height: 13.509rem;
}

.hero_container .navbar .navbar-links{
    /* border: 1px solid black; */
    width: 80%;
    display: flex;
    justify-content: baseline;
    align-items: center;
    gap: 2.756rem;
}

.hero_container .navbar .navbar-links li a{
    font-family: 'Josefin Sans';
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.125rem;
    color: #000000;
    text-decoration: none;
}

.hero_container .navbar .navbar-links li a:hover {
    color: #F69F3C;
}

.hero_container .navbar .navbar-links .numBtn_wrapper {
    /* border: 1px solid black; */
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 4rem;
}

/* navbar-btn */
.hero_container .navbar .navbar-links .numBtn_wrapper p{
    font-family: 'Josefin Sans';
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.125rem;
    text-decoration-line: underline;
    color: #000000;
}

.hero_container .navbar .navbar-links .numBtn_wrapper .navBtn{
    border: 2px solid #F69F3C;
    border-radius: 5px;
    width: 30%;
    height: 2.8125rem;
    font-family: 'Josefin Sans';
    font-style: normal;
    text-align: center;
    font-weight: 500;
    font-size: 13px;
    line-height: 14px;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: all .2s linear;
}

.hero_container .navbar .navbar-links .navBtn:hover {
    border: none;
    color: #000000;
    background: #F69F3C;
}

/* Toggle-button */
.toggle-button{
    position: absolute;
    right: 1rem;
    top: 5rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 2rem;
    height: 1rem;
    margin: 40px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}

.currentPage{
    align-self: flex-start;
    margin-left: 10%;
}

.currentPage p{
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #000000;
}

.currentPage .about_color{
    color: #F69F3C;
}

/* Hero Section Content */
.content_wrapper{
    /* border: 1px solid black; */
    width: 100%;
    height: auto;
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    padding: 3rem 6rem;
}

.content_wrapper .left_content{
    /* border: 1px solid black; */
    width: 50%;
    height: 100%;
    display: flex;
    gap: 30px;
    flex-direction: column;
    flex-wrap: wrap;
    
}

.content_wrapper .left_content .heading h3{
    font-family: 'Taviraj';
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: 58px;
    color: #000000;
}

.content_wrapper .left_content .para{
    /* border: 1px solid black; */
    width: 98%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.content_wrapper .left_content .para p{
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}

.content_wrapper .left_content .address_details{
    /* border: 1px solid black; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.content_wrapper .left_content .address_details .details_wrapper{
    /* border: 1px solid black; */
    width: 50%;
    display: flex;
    gap: 20px;
}

.content_wrapper .left_content .address_details .details_wrapper img{
    width: 40.63px;
    height: 40.63px;
}

.content_wrapper .left_content .address_details .details_wrapper .contact{
    display: flex;
    flex-direction: column;
}


.content_wrapper .left_content .address_details .details_wrapper .details {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.content_wrapper .left_content .address_details .details_wrapper .details h6{
    font-family: 'Taviraj';
    font-weight: 500;
    font-size: 18.6577px;
    line-height: 21px;
    color: #000000;
    margin-bottom: 5px;
}

.content_wrapper .left_content .address_details .details_wrapper .details p{
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16.7919px;
    line-height: 20px;
    color: #000000;
}


/* Hero Section form */
.content_wrapper .contact_form{
    /* border: 1px solid black;   */
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.content_wrapper .contact_form .details{
    /* border: 1px solid black;   */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    padding: 0px 0px 0px 50px;
}

.content_wrapper .contact_form .details .input_details{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.content_wrapper .contact_form .details .input_details label{
    /* border: 1px solid black;  */
    width: 100%;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.05em;
    color: #272727;
}

.content_wrapper .contact_form .details .input_details label span{
    font-size: 18px;
    margin-left: 3px;
    font-weight: 500;
}

.content_wrapper .contact_form .details .input_details input{
    border: none;
    border-bottom: 2px solid #272727;
    outline: none;
    background: transparent;
}

.content_wrapper .contact_form .details textarea{
    width: 250% !important;
    height: 120px;
    resize: none;
    outline: none;
    border: 2px solid #272727;
    background: transparent;
    padding: 10px;
    font-size: 15px;
}

.content_wrapper .contact_form .contact_btn{
    width: 23%;
    height: 2.75rem;
    border: 3px solid #F69F3C;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.4s linear;
}

.content_wrapper .contact_form .contact_btn:hover{
    background: #F69F3C;
    border: none;
    transform: scale(0.9);
}

.content_wrapper .contact_form .contact_btn input{
    border: none;
    outline: none;
    cursor: pointer;
    background: none;
    text-transform: uppercase;
    font-family: 'Josefin Sans';
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    color: #272727;
}

.content_wrapper .contact_form .contact_btn input:hover{
    color: #F5F5F5;
}



/* Visit our place Section */
.visitingTiming_container{
    /* border: 1px solid black; */
    width: 100%;
    height: auto;
    background: #FDECD8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3.75rem 6rem;

}

.visitingTiming_container .visiting_content{
    /* border: 1px solid black; */
    display: flex;
    gap: 15px;
}

.visitingTiming_container .visiting_content .left_content{
    /* border: 1px solid black; */
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.visitingTiming_container .visiting_content .left_content .heading h2{
    font-family: 'Taviraj';
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 58px;
    color: #000000;
}

.visitingTiming_container .visiting_content .left_content .para{
    /* border: 1px solid black; */
    width: 93%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.visitingTiming_container .visiting_content .left_content .para p{
    font-family: 'Josefin Sans';
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}

.visitingTiming_container .visiting_content .left_content .visiting_btn{
    border: 3px solid #319ED8;
    width: 30%;
    height: 45px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top: 10px;
    transition: all 0.5s;
}

.visitingTiming_container .visiting_content .left_content .visiting_btn:hover{
    transform: scale(0.9);
}

.visitingTiming_container .visiting_content .left_content .visiting_btn a{
    font-family: 'Josefin Sans';
    font-weight: 600;
    font-size: 12px;
    line-height: 12px;
    color: #272727;
    text-decoration: none;
}

.visitingTiming_container .visiting_content .right_content{
    /* border: 1px solid black; */
    width: 50%;
    height: 19.55em;
    display: flex;
    justify-content: center;
}

.visitingTiming_container .visiting_content .right_content .card{
    /* border: 1px solid black; */
    width: 60%;
    height: 90%;
    background: #FFFFFF;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 30px 0px;
}

.visitingTiming_container .visiting_content .right_content .card .contents{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px !important;
}

.visitingTiming_container .visiting_content .right_content .card .hrs_details {
    gap: 10px;
}

.visitingTiming_container .visiting_content .right_content .card .contents h3{
    font-family: 'Taviraj';
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
    text-align: center;    
    color: #000000;
}

.visitingTiming_container .visiting_content .right_content .card .contents p{
    font-family: 'Josefin Sans';
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #000000;
}

.visitingTiming_container .visiting_content .right_content .card .contents .add {
    font-family: 'Taviraj';
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    text-align: center;
    color: #000000;
    width: 85%;
}


/* FQA Section */
.FQA_Section{
    /* border: 1px solid black; */
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 5rem 6rem;
}

.FQA_Section .fqaContent_wrapper{
    /* border: 1px solid black; */
    display: flex;
    gap: 15px;
}

.FQA_Section .fqaContent_wrapper .left_content{
    /* border: 1px solid black; */
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.FQA_Section .fqaContent_wrapper .left_content .heading {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.FQA_Section .fqaContent_wrapper .left_content .heading h6 {
    font-family: 'Josefin Sans';
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.35rem;
    color: #F69F3C;
}

.FQA_Section .fqaContent_wrapper .left_content .heading h1 {
    width: 80%;
    font-family: 'Taviraj';
    font-weight: 500;
    font-size: 3rem;
    line-height: 3.375rem;
    color: #000000;
}

.faq-drawer {
    margin-bottom: 30px;
}
   
.faq-drawer__content-wrapper {
    font-size: 1.25em;
    line-height: 1.4em;
    max-height: 0px;
    overflow: hidden;
    transition: 0.25s ease-in-out;
}
   
.faq-drawer__title {
    cursor: pointer;
    display: block;
    font-family: 'Taviraj';
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 110%;
    color: #000000;
    padding: 30px 0 0 0;
    position: relative;
    margin-bottom: 0;
    transition: all 0.25s ease-out;
}
   
.faq-drawer__title::after {
    border-style: solid;
    border-width: 1px 1px 0 0;
    content: " ";
    display: inline-block;
    float: right;
    height: 10px;
    left: 2px;
    position: relative;
    right: 20px;
    top: 2px;
    transform: rotate(135deg);
    transition: 0.35s ease-in-out;
    vertical-align: top;
    width: 10px;
}

.faq-drawer__content p{
    font-family: 'Josefin Sans';
    font-weight: 400;
    font-size: 1rem;
    line-height: 138%;
    color: #706464;
    padding-top: .75rem;
}
   
   /* OPTIONAL HOVER STATE */
.faq-drawer__title:hover { 
    color: #4E4B52;
}
   
.faq-drawer__trigger:checked
    + .faq-drawer__title
    + .faq-drawer__content-wrapper {
    max-height: 350px;
}
   
.faq-drawer__trigger:checked + .faq-drawer__title::after {
    transform: rotate(-45deg);
    transition: 0.25s ease-in-out;
}
   
input[type="checkbox"] {
    display: none;
}
   
@media only screen and (max-width: 600px) {
    .container {
        padding: 80px;
    }
}

/* form section */
.FQA_Section .fqaContact_form{
    /* border: 1px solid black; */
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px; 
    

}

.FQA_Section .fqaContact_form h3{
    width: 80%;
    font-family: 'Taviraj';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 34px;
    color: #000000;
    transform: translateX(25%);
}

.FQA_Section .fqaContact_form .details{
    width: 80%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 40px;
    transform: translateX(25%);
}

.FQA_Section .fqaContact_form .submit_btn{
    margin-left: 130px;
}

.FQA_Section .fqaContact_form .details .input_details{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.FQA_Section .fqaContact_form .details .input_details label{
    width: 100%;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.05em;
    color: #272727;
}

.FQA_Section .fqaContact_form .details .input_details label span{
    font-size: 18px;
    margin-left: 3px;
    font-weight: 500;
}

.FQA_Section .fqaContact_form .details .input_details input{
    border: none;
    border-bottom: 2px solid #272727;
    outline: none;
    background: transparent;
}

.FQA_Section .fqaContact_form .details textarea{
    width: 100% !important;
    resize: none;
    outline: none;
    border: 2px solid #272727;
    background: transparent;
    padding: 10px;
    font-size: 15px;
}

.FQA_Section .fqaContact_form .submit_btn{
    width: 25%;
    height: 8%;
    border: 3px solid #F69F3C;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.4s linear;
}

.FQA_Section .fqaContact_form .submit_btn:hover{
    background: #F69F3C;
    border: none;
    transform: scale(0.9);
}

.FQA_Section .fqaContact_form .submit_btn input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    background: none;
    text-transform: uppercase;
    font-family: 'Josefin Sans';
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    color: #272727;
}

.FQA_Section .fqaContact_form .submit_btn input:hover{
    color: #F5F5F5;
}



/*footer section  */
footer{
    /* border: 1px solid black; */
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background: #FDECD8;
    padding: 1rem 6rem;
}

footer .copyright{
    /* border: 1px solid black; */
    width: 15%;
    font-family: 'Taviraj';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    text-decoration-line: underline;
    color: #000000;
}

footer .footer_logo{
    /* border: 1px solid black; */
    width: 6.743rem;
    height: 7.476rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .privacy{
    /* border: 1px solid black; */
    width: 15%;
    font-family: 'Taviraj';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    text-decoration-line: underline;
    color: #000000;
}